ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;

}
/*
li{
	padding: 20px;
	border: 1px solid red;
	background: url('../imagens/seta.png') no-repeat left center;
}*/
ul a{
	width:200px;
	height: 40px;
	display: block;
	border: 1px, solid yellow;
	background: #f7b600 url('../imagens/menu.png') no-repeat left;
	text-decoration: none;
	text-indent: 40px;
	color: #000;
	line-height: 40px;
}

ul a:hover{
	background-position: right;
	text-decoration: none;
	background-color: #f99200;

	color: #FFF;
}

#home .home a,
#servicos .servicos a,
#noticias .noticias a,
#contato .contato a,
#sobre .sobre a{
	background-position: right;
	text-decoration: none;
	background-color: #f99200;

	color: #FFF;
}