ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	width: 720px;
	background: #159cb0 url('../imagens/fundo-horizontal.png') repeat-x;
	float: left; 
	
}
ul li{
	float: left;
}

ul a{
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	border: 1px, solid yellow;
	background: url('../imagens/divisor.png') repeat-y left top;
	color: #FFF;
	
}
ul .primeiro a{
	background: none;
}

ul a:hover{
	
	background-color: #44cade;
	color: #085662;
}

#home .home a,
#servicos .servicos a,
#noticias .noticias a,
#contato .contato a,
#sobre .sobre a{
	background-color: #44cade;
	color: #085662;
	
}